// Fonts
$montserrat: "Montserrat Variable", sans-serif;

// Colors
// Primary
$base: #04312a;
$base-35: rgba(4, 49, 42, 0.35);
$shade-1: #032621;
$shade-2: #064b41;
$shade-3: #085e51;

// Secondary
$gold: #d1b28c;

// Tertiary
$black: #000;
$white: #fff;
$white-50: rgba(255, 255, 255, 0.5);
$black-50: rgba(0, 0, 0, 0.5);
$green-light: #d7f9f1;
$light: #f2f2f2;
$light-50: rgba(242, 242, 242, 0.5);
